.base__button {
  font-size: 14px;
  font-weight: bold;
  width: 232px;
  height: 48px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $font-1;
  outline: none;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  color: $font-color-1;
  transition: all .4s ease;

  @include respond-to('laptop') {
    width: 180px;
    height: 40px;
    font-size: 12px;
  }

  &--golden {
    @extend .base__button;
    background: #FFFFFF;
  }

  &--dark {
    @extend .base__button;
    color: $font-color-1 !important;
    border-color: $font-color-1 !important;
  }
}