.modal {
  position: relative;

  &__title {
    font-size: 36px;
    line-height: 40px;
    color: $font-color-1;
    font-weight: 700;
    font-family: $font-1;
    text-align: center;

    @include respond-to('mobile') {
      font-size: 32px;
    }

    @include respond-to('tablet') {
      font-size: 32px;
    }
  }

  &__contact {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $font-color-1;
    font-family: $font-2;

    @include respond-to('mobile') {
      font-size: 14px;
      line-height: 26px;
      margin-top: 5px;
      text-align: center;
    }

    @include respond-to('tablet') {
      font-size: 14px;
      line-height: 26px;
      margin-top: 5px;
      text-align: center;
    }
  }

  &__close {
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: #333333;
    border-radius: 50%;
    transform: rotate(45deg);

    @include respond-to('mobile') {
      right: -28px;
      top: -28px;
    }

    @include respond-to('tablet') {
      right: -28px;
      top: -28px;
    }

    &__btn {
      background: #CBAC79;
      border-radius: 7px;
      width: 2px;
      height: 25px;
      position: absolute;
      left: calc((100% - 3px) / 2);
      top: 5px;

      &--twisted {
        @extend .modal__close__btn;
        transform: rotate(90deg);
      }
    }
  }

  &__wrapper, &__form__wrapper {
    position: fixed;
    left: 0;
    top: 0vh;
    width: 100vw;
    height: 200vh;
    content: '';
    background: rgba(31, 31, 31, 0.74);
    display: none;
    z-index: 5;
  }

  &__video {
    animation-name: fade-in;
    animation-duration: .4s;
    margin: 20vh auto;
    background: white;
    border: 19px solid #FFFFFF;
    display: block;
    width: 60vw;
    height: 60vh;
    border-radius: 7px;
    z-index: 6;

    @include respond-to('mobile') {
      width: 80vw;
      height: 30vh;
      border: 10px solid white;
    }

    @include respond-to('tablet') {
      width: 80vw;
      height: 60vh;
      border: 10px solid white;
    }
  }

  &__form {
    padding: 25px;
    box-sizing: border-box;
    animation-name: fade-in;
    animation-duration: .4s;
    margin: 20vh auto;
    background: white;
    border: 19px solid #FFFFFF;
    display: block;
    width: 373px;
    border-radius: 7px;
    z-index: 6;

    @include respond-to('mobile') {
      width: 85%;
      padding: 0;
      border: 10px solid white;
    }

    @include respond-to('tablet') {
      width: 85%;
      padding: 0;
      border: 10px solid white;
    }
  }
}

.iframe {
  width: 60vw;
  height: 60vh;

  @include respond-to('mobile') {
    width: 80vw;
    height: 30vh;
  }

  @include respond-to('tablet') {
    width: 80vw;
    height: 60vh;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    margin: -100vh auto 0 auto;
  }
  to {
    opacity: 1;
    margin: 20vh auto;
  }
}

.form {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px auto 0 auto;

  @include respond-to('mobile') {
    margin: 0 auto;
  }

  @include respond-to('tablet') {
    margin: 0 auto;
  }

  & > input, textarea {
    margin-top: 10px;
    width: 100%;
    color: rgba(51, 51, 51, 0.5);
    font-size: 16px;
    line-height: 32px;
    font-family: $font-2;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px 15px;

    @include respond-to('tablet') {
      margin-top: 15px;
    }
  }

  &__button {
    margin-top: 10px;
    color: $font-color-2;
    background: #000;

    @include respond-to('mobile') {
      width: 100%;
    }

    @include respond-to('tablet') {
      margin-top: 30px;
    }
  }

  &__terms {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    font-family: $font-2;
    color: #666666;
    text-align: center;
    
    & > span {
      text-decoration: underline;
    }
  }

}
