@import "sections/header";
@import "sections/tariffs";
@import "sections/advantages";
@import "sections/contacts";
@import "sections/footer";

html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  overflow: hidden;

  &__effects__wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('laptop') {
      display: none;
    }
  }

  &__effects__stick {
    position: absolute;
    width: 369px;
    height: 7px;
    background: $font-color-2;
    transform: rotate(-67.66deg);
    border-radius: 7px;
    transition: all .4s ease;

    &--1 {
      left: 0;
      bottom: 80px;
    }

    &--2 {
      left: 0;
      top: 110px;
      background: #CBAC79;
    }

    &--3 {
      left: -200px;
      top: 300px;
      background: #CBAC79;
    }

    &--4 {
      right: 620px;
      bottom: -30px;
    }

    &--5 {
      right: 0;
      top: 120px;
    }

    &--6 {
      right: -40px;
      bottom: 200px;
      background: #CBAC79;
    }
  }

  &__effects__square {
    width: 50%;
    height: 100vh;
    transform: skew(-20deg);
    position: absolute;

    &:first-child {
      left: 8%;
      background: linear-gradient(245.06deg, rgba(203, 172, 121, 0.51) 15.01%, rgba(203, 172, 121, 0) 58.4%);
    }

    &:nth-child(2) {
      right: 18%;
      background: linear-gradient(243deg, rgba(203,172,121,0.51) -7.16%, rgba(203, 172, 121, 0) 24.9%);
    }
  }
}

.section__title {
  font-size: 42px;
  font-weight: 700;
  color: $font-color-1;
  font-family: $font-1;

  @include respond-to('mobile') {
    font-size: 30px;
    line-height: 42px;
  }

  @include respond-to('laptop') {
    font-size: 40px;
  }
}

.hide {
  display: none !important;
}

.phone__wrapper {
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: flex;
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 100px;
  height: 100px;
  background: #CBAC79;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all .4s ease;
  z-index: 6;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  @include respond-to('mobile') {
    width: 50px;
    height: 50px;
    z-index: 2;
  }

  @include respond-to('tablet') {
    width: 60px;
    height: 60px;
    z-index: 2;
  }

  @include respond-to('laptop') {
    width: 70px;
    height: 70px;
  }

  .phone {
    width: 40px;
    height: 40px;
    background: url("../img/phone.svg") no-repeat center center;
    background-size: cover;

    @include respond-to('mobile') {
      width: 20px;
      height: 20px;
    }

    @include respond-to('tablet') {
      width: 30px;
      height: 30px;
    }
    @include respond-to('laptop') {
      width: 30px;
      height: 30px;
    }
  }

}

@keyframes jump {
  0% {
    bottom: 5%;
  }
  25% {
    bottom: 7%;
  }
  50% {
    bottom: 5%;
  }
  75% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}