.advantages {
  position: relative;
  background: linear-gradient(95.54deg, #FFFFFF 38.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/header22.jpg') no-repeat 350px center, #FFFFFF;
  background-size: cover;
  padding: 120px 0;
  overflow: hidden;

  &__effects__stick {
    display: none;
    position: absolute;
    width: 369.38px;
    height: 7px;
    background: #CBAC79;
    transform: rotate(-67.66deg);
    border-radius: 7px;

    @include respond-to('mobile') {
      display: block;
    }

    @include respond-to('tablet') {
      display: block;
    }

    @include respond-to('laptop') {
      display: block;
    }

    &--1 {
      left: -185px;
      top: 100px;

    }

    &--2 {
      background: $font-color-1;
      right: -220px;
      top: 150px;
    }

    &--3 {
      right: -142px;
      bottom: 0;
    }
  }

  &__title {

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    &--mobile {
      display: none;

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
      }
    }
  }

  @include respond-to('mobile') {
    padding: 0 0 30px 0;
    background: unset;
  }

  @include respond-to('tablet') {
    padding: 0 0 30px 0;
    background: unset;
  }

  @include respond-to('laptop') {
    padding: 60px 0 30px 0;
  }

  @include respond-to('desktop') {
    padding: 140px 0 30px 0;
  }


  &__play {
    position: absolute;
    right: 20%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 128px;
    height: 128px;
    content: '';
    background: #CBAC79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    z-index: 4;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    &--mobile {
      display: none;
      width: 100%;
      height: 330px;
      background: linear-gradient(13.91deg, #FFFFFF 15.67%, rgba(255, 255, 255, 0) 79.27%), linear-gradient(157.75deg, #FFFFFF 23.9%, rgba(255, 255, 255, 0.15) 84.63%), url('../img/advantagesPlayerMob.jpg') no-repeat center center;
      background-size: cover;
      justify-content: center;
      align-items: center;

      &__button {
        position: relative;
        width: 128px;
        height: 128px;
        content: '';
        background: #CBAC79;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s ease;
        z-index: 4;

        &:hover {
          transform: scale(1.05);
        }
      }

      @include respond-to('mobile') {
        display: flex;
      }

      @include respond-to('tablet') {
        display: flex;
      }
    }

    &:hover {
      transform: scale(1.05);
    }

    &__triangle {
      margin-left: 10px;
      border-top: 22px solid transparent;
      border-left: 36px solid $font-color-2;
      border-bottom: 22px solid transparent;
    }
  }

  &__content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      width: 85%;
    }

    @include respond-to('tablet') {
      width: 90%;
    }

    @include respond-to('laptop') {
      width: 90%;
    }

    @include respond-to('desktop') {
      width: 85%;
    }
  }

  &__features__wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    @include respond-to('mobile') {
      margin-top: 0;
    }

    @include respond-to('tablet') {
      margin-top: 0;
    }
  }

  &__feature {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    font-family: $font-2;
    color: $font-color-1;

    &__title {
      font-size: 18px;
      color: #CBAC79;
    }
  }

  &__button {
    margin-top: 40px;
    color: #fff;
    background: #000;
    position: relative;
    z-index: 4;
  }
}