.contacts {
  padding-top: 90px;
  background: linear-gradient(95.54deg, #FFFFFF 38.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/contactsBg.png') no-repeat 500px -300px, #FFFFFF;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  @include respond-to('tablet') {
    background: unset;
  }

  @include respond-to('laptop') {
    background: linear-gradient(95.54deg, #FFFFFF 38.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/contactsBg.png') no-repeat center center, #FFFFFF;
    background-size: cover;
  }

  @include respond-to('desktop') {
    background: linear-gradient(95.54deg, #FFFFFF 38.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/contactsBg.png') no-repeat center center, #FFFFFF;
    background-size: cover;
  }

    &:after {
      display: none;
      position: absolute;
      content: '';
      right: -250%;
      top: -20%;
      width: 1006px;
      height: 717px;
      transform: skew(-20deg);
      background: linear-gradient(150.81deg, rgba(203, 172, 121, 0.51) -45.75%, rgba(203, 172, 121, 0) 69.32%);

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
        right: -900px;
        top: -300px;
      }
    }

    &__effects__stick {
      position: absolute;
      display: none;
      width: 369px;
      height: 7px;
      background: $font-color-1;
      transform: rotate(-67.66deg);
      border-radius: 7px;
      z-index: 2;

      &--1 {
        background: #cbac79;
        right: -170px;
        top: -75px;

        @include respond-to('laptop') {
          right: -193px;
          top: -130px;
        }
      }

      &--2 {
        right: -100px;
        bottom: -100px;

        @include respond-to('laptop') {
          right: -80px;
          bottom: -80px;
        }
      }

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
      }

      @include respond-to('laptop') {
        display: block;
      }
    }

  @include respond-to('mobile') {
    padding: 0;
  }

  @include respond-to('tablet') {
    padding: 0;
  }

  @include respond-to('laptop') {
    padding: 0;
  }

  @include respond-to('desktop') {
    padding: 0;
  }


  &__button {
    color: #fff;
    background: #000;
    position: relative;
    z-index: 4;
  }

  @include respond-to('mobile') {

    &__button {
      margin-top: 20px;
    }
  }

  @include respond-to('tablet') {

    &__button {
      margin-top: 20px;
    }
  }

  @include respond-to('laptop') {

    &__button {
      margin-top: 40px;
    }
  }

  &__content {
    width: 60%;
    margin-top: 40px;
    display: grid;
    grid-template-rows: 400px auto;
    grid-row-gap: 130px;
    position: relative;
    z-index: 2;

    @include respond-to('mobile') {
      display: flex;
      flex-direction: column;
      width: 85%;
      margin-top: 0;
      grid-row-gap: 20px;
    }

    @include respond-to('tablet') {
      display: flex;
      flex-direction: column;
      width: 90%;
      grid-row-gap: 20px;
    }

    @include respond-to('laptop') {
      width: 85%;
      margin-top: 60px;
      grid-row-gap: 60px;
      grid-template-rows: 350px auto;

    }

    @include respond-to('desktop') {
      width: 85%;
      margin-top: 80px;
      grid-row-gap: 20px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include respond-to('mobile') {
      flex-direction: column;
    }
  }

  &__wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to('mobile') {
      width: 100%;
      align-items: flex-start;
    }

    @include respond-to('tablet') {
      width: fit-content;
      align-items: flex-start;
    }
  }

  &__title {

    @include respond-to('mobile') {
      margin-bottom: 20px;
    }

    @include respond-to('tablet') {
      margin-bottom: 20px;
    }
  }

  &__map {
    width: 65%;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 8px 70px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: 19px solid white;
    box-sizing: border-box;
    position: relative;
    z-index: 4;

    @include respond-to('mobile') {
      border: 10px solid white;
      width: 100%;
      height: 260px;
      margin-top: 36px;
    }

    @include respond-to('tablet') {
      border: 10px solid white;
      width: 60%;
      height: 100%;
    }

    @include respond-to('laptop') {
      border: 10px solid white;
      width: 80%;
      height: 100%;
    }

    &__widget {
      width: 100%;
      height: 100%;
    }
  }

  &__address {
    font-size: 16px;
    line-height: 20px;
    color: $font-color-1;
    font-family: $font-2;

    @include respond-to('mobile') {
      font-size: 16px;
      line-height: 20px;
    }

    @include respond-to('tablet') {
      font-size: 14px;
      line-height: 20px;
    }

    @include respond-to('laptop') {
      font-size: 14px;
      line-height: 20px;
      text-align: left;
    }

    & > p:nth-child(5) {
      margin-top: 40px;

      @include respond-to('mobile') {
        margin: 20px 0;
      }

      @include respond-to('tablet') {
        margin: 20px 0;
      }

      @include respond-to('laptop') {
        margin-top: 20px;
      }

      @include respond-to('desktop') {
        margin-top: 20px;
      }
    }
  }
}