.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to('mobile') {
    flex-direction: column;
  }

  @include respond-to('tablet') {
    flex-direction: column;
  }

  &__instagram {
    background-image: url('../img/instagram1.png');
    background-size: cover;
    width: 16px;
    height: 16px;

    &__wrapper {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #CBAC79;
      border-radius: 50%;
    }
  }

  &__rights {
    padding-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-2;
    font-size: 16px;
    line-height: 32px;
    color: $font-color-1;

    @include respond-to('mobile') {
      margin: 5px 0 20px 0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond-to('tablet') {
      margin: 5px 0 20px 0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond-to('laptop') {
      width: 60%;
    }

    & p:first-child {
      color: rgba(31, 31, 31, 0.74);
      order: 2;
    }
  }
}