.header {
  height: 100vh;
  width: 100vw;

  &__video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__promo--wrapper {
    height: 100%;
    position: relative;
    z-index: 0;

    &__effects {
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index: 2;

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
      }

      @include respond-to('laptop') {
        display: block;
      }

      &__stick {
        position: absolute;
        width: 369px;
        height: 7px;
        background: $font-color-2;
        transform: rotate(-67.66deg);
        border-radius: 7px;
        transition: all .4s ease;

        &--1 {
          left: -230px;
          bottom: 60px;

          @include respond-to('tablet') {
            bottom: 260px;
          }
        }

        &--2 {
          left: -193px;
          top: 198px;
          background: #CBAC79;
        }

        &--3 {
          right: -230px;
          top: -60px;
        }

        &--4 {
          right: -50px;
          bottom: 20px;
          background: #CBAC79;

          @include respond-to('tablet') {
            bottom: 220px;
          }
        }
      }

      &__square {
        width: 50%;
        height: 100vh;
        transform: skew(-20deg);
        position: absolute;
        left: 0;
        background: linear-gradient(253deg, rgba(203,172,121,0.31) -7.16%, rgba(203,172,121,0) 40.9%)
      }
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(0deg, rgba(31, 31, 31, 0.34), rgba(31, 31, 31, 0.34));
      z-index: 1;
    }

    &-2 {
      height: 100vh;
      width: 100vw;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;

    }
  }

  .header__promo__slide {
    width: 100%;
    height: 100%;

    &--1 {
      position: relative;

      &__blur {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, rgba(82, 152, 217, 0.7189250700280112) 14%, rgba(77, 244, 255, 0.68531162464986) 75%);
        z-index: 1;
        opacity: 0.8;
        backdrop-filter: blur(5px);
      }
    }

    &--2 {
      background: url("../img/header2.jpg") no-repeat center center;
      background-size: cover;
    }

    &--3 {
      background: url("../img/header3.jpg") no-repeat center center;
      background-size: cover;
    }

    &--4 {
      background: url("../img/header4.jpg") no-repeat center center;
      background-size: cover;
    }

    &--5 {
      background: url("../img/header5.jpg") no-repeat center center;
      background-size: cover;
    }

    &--6 {
      background: url("../img/header6.jpg") no-repeat center center;
      background-size: cover;
    }

    &--7 {
      background: url("../img/header7.jpg") no-repeat center center;
      background-size: cover;
    }

    &--8 {
      background: url("../img/header8.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  .header__promo__slide-2 {
    width: 100%;
    height: 100%;
    color: $font-color-2;
    font-family: $font-2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__text {
      font-size: 24px;
      line-height: 33px;
      width: 30%;
      text-align: center;


      @include respond-to('mobile') {
        font-size: 16px;
        line-height: 22px;
        width: 80%;
      }

      @include respond-to('tablet') {
        font-size: 22px;
        line-height: 30px;
        width: 80%;
      }

      @include respond-to('laptop') {
        font-size: 22px;
        line-height: 30px;
        width: 80%;
      }

      @include respond-to('desktop') {
        font-size: 22px;
        line-height: 30px;
        width: 80%;
      }
    }

    & > h1 {
      font-family: $font-1;
      font-weight: bold;
      font-size: 72px;
      line-height: 107px;


      @include respond-to('mobile') {
        font-size: 52px;
        line-height: 77px;
        text-align: center;
      }

      @include respond-to('tablet') {
        font-size: 52px;
        line-height: 77px;
        text-align: center;
      }

      @include respond-to('laptop') {
        font-size: 62px;
        line-height: 87px;
        text-align: center;
      }
    }
  }

  &__menu {
    width: 60%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $font-color-2;
    transition: all .4s ease;

    @include respond-to('mobile') {
      display: none;
    }

    @include respond-to('tablet') {
      display: none;
    }

    @include respond-to('laptop') {
      width: 85%;
      font-size: 10px;
    }

    @include respond-to('desktop') {
      width: 85%;
      font-size: 14px;
    }

    &__logo__mobile {
      background: url("../img/Logo.png") no-repeat;
      cursor: pointer;
      width: 140px;
      height: 37px;
      background-size: cover;

      @include respond-to('laptop') {
        display: none;
      }

    }

    &__logo {
      background: url("../img/Logo.png") no-repeat;
      cursor: pointer;
      width: 170px;
      height: 52px;

      @include respond-to('mobile') {
        display: none;
      }

      @include respond-to('tablet') {
        display: none;
      }

      @include respond-to('laptop') {
        cursor: pointer;
        width: 110px;
        height: 34px;
        background-size: contain;
      }

      &--2 {
        background: url("../img/Logo2.png") no-repeat center center;
        background-size: contain;
      }
    }

    &__link {
      transition: all .4s ease;
      color: #F1F0E8;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-2;

      @include respond-to('laptop') {
        font-size: 10px;
      }

      &:hover {
        font-weight: bold;
      }
    }

    &__button {
      color: $font-color-2;
      background: transparent;
    }
  }

  &__promo {
    width: 100%;
    height: 100%;

    &-2 {
      z-index: 4;
    }

    &__button {
      margin-top: 40px;
      color: $font-color-1;

      &--absolute {
        position: absolute;
        left: 20%;
        top: 60%;

        @include respond-to('mobile') {
          position: static;
        }

        @include respond-to('tablet') {
          position: static;
        }

        @include respond-to('laptop') {
          position: static;
        }

        @include respond-to('desktop') {
          position: static;
        }
      }
    }
  }
}

.menu__wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.menu__wrapper--visible {
  @extend .menu__wrapper;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(3px);
}

.header--mobile {
  display: none;
  background: #333333;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  @include respond-to('mobile') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
  }

  @include respond-to('tablet') {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
  }
}

.burger {
  display: none;

  @include respond-to('mobile') {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid $font-color-2;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
  }

  @include respond-to('tablet') {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid $font-color-2;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
  }

  &--active {
    @extend .burger;
    position: relative;

    & > div:nth-child(2) {
      display: none;
    }

    & > div:first-child {
      transform: rotate(45deg);
      position: absolute;
      margin-top: 0;
      top: 50%;
    }

    & > div:last-child {
      transform: rotate(-45deg);
      position: absolute;
      top: 50%;
    }
  }

  &__line {
    width: 22px;
    height: 2px;
    background: $font-color-2;


    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.menu__wrapper--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  position: absolute;
  top: 88px;
  left: 0;
  height: calc(100vh - 88px);
  width: 100%;
  z-index: 3;
}

.menu--mobile, .header__contacts--mobile {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $font-color-2;

  .header__menu__link {
    color: $font-color-2 !important;
  }
}

.slide {

  &__previous {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
    color: $font-color-2;
    outline: none;
    transition: all .4s ease;

    &:hover {
      transform: scale(1.1) rotate(90deg);;
    }
  }

  &__next {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
    color: $font-color-2;
    outline: none;
    transition: all .4s ease;

    &:hover {
      transform: scale(1.1) rotate(90deg);;
    }
  }
}

@media screen and (orientation: landscape) {
 .slide__previous {
   top: 80%;
 }
}