.tariffs {
  background: linear-gradient(95.54deg, #FFFFFF 48.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/header5.jpg') no-repeat 900px center, #FFFFFF;
  background-size: contain;
  padding: 100px 0;
  box-sizing: border-box;

  @include respond-to('mobile') {
    padding: 0 0 30px 0;
    position: relative;
    overflow: hidden;
  }

  @include respond-to('tablet') {
    padding: 0 0 30px 0;
    position: relative;
    overflow: hidden;
  }

  @include respond-to('laptop') {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(95.54deg, #FFFFFF 48.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/header5.jpg') no-repeat 200px center, #FFFFFF;
    background-size: contain;
  }

  @include respond-to('desktop') {
    background: linear-gradient(95.54deg, #FFFFFF 48.62%, rgba(255, 255, 255, 0.54) 106.58%), url('../img/header5.jpg') no-repeat 200px center, #FFFFFF;
    background-size: cover;
  }

  &__content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    &--wrapper__effects {
      display: none;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 110%;
      height: 100%;

      &__square {
        height: 70%;
        transform: skew(-20deg);
        background: linear-gradient(249.64deg, rgba(203, 147, 121, 0.51) 2.92%, rgba(203, 172, 121, 0) 48.07%);

        @include respond-to('tablet') {
          height: 76%;
          width: 100%;
        }
      }

      &__stick {
        position: absolute;
        bottom: 350px;
        right: -165px;
        width: 369px;
        height: 7px;
        background: $font-color-1;
        transform: rotate(-67.66deg);
        border-radius: 7px;

        @include respond-to('tablet') {
          top: 100px;
          right: -145px;
        }

        @include respond-to('laptop') {
          top: 140px;
          right: -125px;
        }
      }

      @include respond-to('mobile') {
        display: block;
      }

      @include respond-to('tablet') {
        display: block;
      }

      @include respond-to('laptop') {
        display: block;
      }
    }

    @include respond-to('mobile') {
      padding-top: 40px;
      width: 85%;
    }

    @include respond-to('tablet') {
      padding-top: 40px;
      width: 90%;
    }

    @include respond-to('laptop') {
      padding-top: 40px;
      width: 85%;
    }

    @include respond-to('desktop') {
      padding-top: 40px;
      width: 85%;
    }
  }

  &__prices {
    margin-top: 65px;
    width: 570px;
    margin-left: 975px;

    &__button {
      margin-top: 40px;
      color: #fff;
      background: #000;
      position: relative;
      z-index: 4;
    }

    @include respond-to('mobile') {
      margin: 40px auto 0 auto;
      width: unset;
      min-height: 1280px;
    }

    @include respond-to('tablet') {
      margin: 40px auto 0 auto;
      width: unset;
    }

    @include respond-to('laptop') {
      margin: 40px auto 0 auto;
    }

    @include respond-to('desktop') {
      margin: 40px auto 0 auto;
    }

    &__title {
      margin-bottom: 60px;
    }

    &__card {

      &__rules {
        margin: 20px 0 40px 0;
        font-size: 20px;
        line-height: 27px;
        font-family: $font-2;

        @include respond-to('mobile') {
          font-size: 16px;
          line-height: 22px;
          width: 85%;
          margin: 20px 0;

          & > p:nth-child(3) {
            margin-top: 20px;
          }
        }

        @include respond-to('tablet') {
          font-size: 16px;
          line-height: 22px;
          width: 85%;
          margin: 20px 0;

          & > p:nth-child(3) {
            margin-top: 20px;
          }
        }

        & > p:nth-child(3) {
          margin-top: 20px;
        }
      }
    }
  }

  &__pricing__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

    @include respond-to('mobile') {
      width: 85%;
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond-to('tablet') {
      width: 100%;
    }

    @include respond-to('laptop') {
      width: 100%;
    }
  }

  &__pricing__section {
    margin-top: 10px;

    @include respond-to('mobile') {

    }

    @include respond-to('tablet') {
    }

    & > p {
      margin-top: 12px;
      font-family: $font-2;

      @include respond-to('mobile') {
        font-size: 16px;
        line-height: 26px;
        margin-top: 5px;
      }

      @include respond-to('tablet') {
        font-size: 12px;
        line-height: 20px;
        margin-top: 5px;
      }

      @include respond-to('laptop') {
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
      }
    }

    &__title {
      color: #CBAC79;
      font-family: $font-1;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px;


      @include respond-to('mobile') {
        & > span {
          display: inline-block;
          margin-right: 5px;
        }
      }

      @include respond-to('tablet') {
        font-size: 18px;
        line-height: 26px;
        width: 100%;

        & > span {
          display: inline-block;
        }
      }
    }
  }
}